<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oren</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalizer.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/user/index.css">
</head>

<body>
    <%- include('../partials/navbar.ejs', {user}) %>

    <div id="main">
        <h2>ESG Form</h2>
        <%for(const question of questions) {%>
            <% const {id,inputType} = question; %>
            <% const {type,content} = question.data; %>
            <div class="question">
                <% if(type == 1) { %>
                    <div class="type1" questionId="<%=id%>"><%=content%></div>
                    <textarea <% if(inputType === 'number'){ %> class="number" placeholder="Enter Numbers Only" <% } %>></textarea>
                <%}%>
                <% if(type == 2) { %>
                    <table class="type2" questionId="<%=id%>">
                        <tr>
                            <th><%=question.title%></th>
                            <% for(const plants of content[1]){ %>
                                <th><%=plants%></th>
                            <%}%>
                        </tr>
                        <% for(const location of content[0]){ %>
                            <tr>
                                <th><%=location%></th>
                                <% for(const plants of content[1]){ %>
                                    <td>
                                        <textarea class="number" placeholder="Enter Numbers Only"></textarea>
                                    </td>
                                <%}%>
                            </tr>
                        <%}%>
                    </table>
                <%}%>
                <% if(type == 3) { %>
                    <table class="type3" elements="1" questionId="<%=id%>">
                        <thead>
                        <tr>
                            <th>S. No.</th>
                            <th><%=content%></th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="sno">1</th>
                            <td><textarea <% if(inputType === 'number'){ %> class="number" placeholder="Enter Numbers Only" <% } %>></textarea></td>
                            <th class="delete-row-button"><i class="fa-regular fa-circle-xmark"></i></th>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th class="add-row-button"><i class="fa-regular fa-square-plus" style="cursor: pointer;"></i></th>
                            <td style="padding-left: 5px;">Click (+) to add a new row</td>
                        </tr>
                        </tfoot>
                    </table>
                <%}%>
                <% if(type == 4) { %>
                    <table class="type4" questionId="<%=id%>">
                        <tr>
                            <th><%=question.title%></th>
                            <th>Yes/No</th>
                            <th>Details</th>
                        </tr>
                        <% for(const heading of content){ %>
                            <tr>
                            <th>
                                <%=heading%>
                            </th>
                            <td>
                                <select>
                                    <option value="N/A">N/A</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </td>
                            <td>
                                <textarea <% if(inputType === 'number'){ %> class="number" placeholder="Enter Numbers Only" <% } %>></textarea>
                            </td>
                        </tr>
                        <%}%>
                    </table>
                <% } %>
                <% if(type == 5){ %>

                    <div class="vertical">

                    <% let tabCount = 0; %>

                    <% for(const tab in content){ %>
                        <button class='tab <%if(tabCount===0){%>activated<%}%>' tabCount="<%=tabCount%>"><%=tab%></button>
                        <% tabCount += 1 ; %>
                    <%}%>

                    <% tabCount = 0 ; %>

                    <% for(const tab in content){ %>

                        <%const tabData = content[tab];%>
                        <table class="type5 <% if(tabCount !== 0) {%>invisible<%}%> tab<%=tabCount%>" questionId="<%=id%>">
                            <tr>
                                <th><%=question.title%></th>
                                <% for(const plants of tabData[1]){ %>
                                    <th><%=plants%></th>
                                <%}%>
                            </tr>
                            <% for(const location of tabData[0]){ %>
                                <tr>
                                    <th><%=location%></th>
                                    <% for(const plants of tabData[1]){ %>
                                        <td>
                                            <textarea class="number" placeholder="Enter Numbers Only"></textarea>
                                        </td>
                                    <%}%>
                                </tr>
                            <%}%>
                        </table>
                        <% tabCount += 1 ; %>
                    <%}%>

                    </div>

                <%}%>
            </div>
        <%}%>
        <button class="submit">Submit</button>
        </div>


        <script src="/static/js/fontawesome.js"></script>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/global.js"></script>
        <script src="/static/js/user/index.js" async defer></script>
</body>

</html>