<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oren</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalizer.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/user/index.css">
    <link rel="stylesheet" href="/static/css/user/response.css">
</head>

<body>
    <%- include('../partials/navbar.ejs', {user}) %>

    <div id="main">
        <h2 style="margin: 0;">Submitted Response</h2>
        <h4 style="margin: 0; margin-bottom: 20px;">All fields are readonly</h4>
        <%for(const question of questions) {%>
            <% const {id,inputType} = question; %>
            <% const {type,content} = question.data; %>
            <div class="question">
                <% if(type == 1) { %>
                    <div class="type1" questionId="<%=id%>"><%=content%></div>
                    <textarea readonly><%=response.data[id]%></textarea>
                <%}%>
                <% if(type == 2) { %>
                    <table class="type2" questionId="<%=id%>">
                        <tr>
                            <th><%=question.title%></th>
                            <% for(const plants of content[1]){ %>
                                <th><%=plants%></th>
                            <%}%>
                        </tr>
                        <% let idx = 0; %>
                        <% for(const location of content[0]){ %>
                            <tr>
                                <th><%=location%></th>
                                <% for(const plants of content[1]){ %>
                                    <td>
                                        <textarea readonly><%=response.data[id][idx]%></textarea>
                                        <% idx +=1; %>
                                    </td>
                                <%}%>
                            </tr>
                        <%}%>
                    </table>
                <%}%>
                <% if(type == 3) { %>
                    <table class="type3" elements="1" questionId="<%=id%>">
                        <thead>
                        <tr>
                            <th>S. No.</th>
                            <th><%=content%></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(const elm of response.data[id]){ %>
                        <tr>
                            <th class="sno">1</th>
                            <td><textarea readonly><%=elm%></textarea></td>
                        </tr>
                        <%}%>
                        </tbody>
                    </table>
                <%}%>
                <% if(type == 4) { %>
                    <table class="type4" questionId="<%=id%>">
                        <tr>
                            <th><%=question.title%></th>
                            <th>Yes/No</th>
                            <th>Details</th>
                        </tr>
                        <% let idx = 0; %>
                        <% for(const heading of content){ %>
                            <tr>
                            <th>
                                <%=heading%>
                            </th>
                            <td>
                                <select>
                                    <option selected><%=response.data[id][idx]%></option>
                                    <% idx +=1; %>
                                </select>
                            </td>
                            <td>
                                <textarea><%=response.data[id][idx]%></textarea>
                                <% idx +=1; %>
                            </td>
                        </tr>
                        <%}%>
                    </table>
                <% } %>
                <% if(type == 5){ %>

                    <div class="vertical">

                    <% let tabCount = 0; %>

                    <% for(const tab in content){ %>
                        <button class='tab <%if(tabCount===0){%>activated<%}%>' tabCount="<%=tabCount%>"><%=tab%></button>
                        <% tabCount += 1 ; %>
                    <%}%>

                    <% tabCount = 0 ; %>

                    <% for(const tab in content){ %>
                        <% let idx = 0; %>

                        <%const tabData = content[tab];%>
                        <table class="type5 <% if(tabCount !== 0) {%>invisible<%}%> tab<%=tabCount%>" questionId="<%=id%>">
                            <tr>
                                <th><%=question.title%></th>
                                <% for(const plants of tabData[1]){ %>
                                    <th><%=plants%></th>
                                <%}%>
                            </tr>
                            <% for(const location of tabData[0]){ %>
                                <tr>
                                    <th><%=location%></th>
                                    <% for(const plants of tabData[1]){ %>
                                        <td>
                                            <textarea><%=response.data[id][tabCount][idx]%></textarea>
                                            <% idx +=1; %>
                                        </td>
                                    <%}%>
                                </tr>
                            <%}%>
                        </table>
                        <% tabCount += 1 ; %>
                    <%}%>

                    </div>

                <%}%>
            </div>
        <%}%>
        </div>


        <script src="/static/js/fontawesome.js"></script>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/notify.js" async defer></script>
        <script src="/static/js/global.js" async defer></script>
        <script src="/static/js/user/index.js" async defer></script>
</body>

</html>